<mat-dialog-content>

    <img src="assets/icon_logo.png" width="100px" height="100px" alt="degpeg logo"/>
    <h1><b>Login</b></h1>
    <mat-form-field appearance="fill">
        <mat-label>Login As</mat-label>
        <mat-select >
          <mat-option value="Advertiser">Advertiser</mat-option>
          <mat-option value="Publisher">Publisher</mat-option>
          <mat-option value="Influencer">Influencer</mat-option>
        </mat-select>
      </mat-form-field><br>
      <form name="myform" action="">
        <input class="email" type="email" placeholder="Email" required /><br>
        <input class="password" type="password" placeholder="Password" required /><br>
        <a class="forgotpasd" href=""routerLink="forgotpassword" >Forgot Password?</a> <br>
        <!-- <a class ="signinlink" target="_blank" routerLink="signin">I am new to Degpeg.</a> <br> -->
        <button class="login" mat-raised-button  >Continue <mat-icon  aria-hidden="false" aria-label="Secure Login to Degpeg">lock</mat-icon></button>  
    </form>   
    
    <router-outlet></router-outlet>

</mat-dialog-content>