div
{
    margin: 10px;
}
mat-dialog-content
{
    text-align: center;
    margin: 25px;
   
}

.email,.password
{
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #1F2471;
    border:solid  #e94bb4 2px;
    border-radius: 10px 10px;
    font-weight: bold;
}

.forgotpasd{
    padding:30px;
    text-decoration: none;
    font-size: small;
    position: relative;
}
.login
{
    margin: 5px;
    color: white;
    background-color: #e94bb4;
}
